/*---------------- GENERAL*/
*{
    margin:0px;
    padding: 0px;
    font-family: system-ui;
}

:root{
    --color-primario: rgb(20, 20, 20); /* Fondo, general*/
    --color-secundario: rgb(0, 217, 255); /* Texto, general*/
    --color-terciario: rgba(88, 2, 81, 0.774); /* Contenedores, general*/
}

a{
    color: rgb(0, 174, 255);
}


.hidden{
    display: none !important;
}

body{
    width: 100vw;
    height: 100vh;
}
/*---------------- FIN GENERAL*/

/*---------------- BODY*/
#body{
    background-color: var(--color-primario);
    color: var(--color-secundario);

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

/*--------- HEADER*/
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    /* background-color: var(--color-secundario); */
    height: calc(70px  + (9vh * 0.2) + (9vw * 0.1));
}
h1{
    font-size: 1.9em;
    padding: 0px;
    margin: 0px;
}
.header nav li{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.header nav li ul{
    padding: 4%;
    background-color: rgba(0, 92, 116, 0.432);
    border-radius: 5%;
}

/*--------- FIN HEADER*/

/*--------- MAIN*/
.main{
    flex: 1; /* Hace que el main ocupe el espacio restante */

    margin: 5% 25%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 40px;
}

.api-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
}

.api-container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
}

.api-container-header-title{
    flex: 2;
}

.api-container-header-search{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex: 3;

    gap: 10px;
}

.api-container-header-search-box{
    border: none;
    padding: 4% 0px 4% 7px;
    font-size: 1.02em;
    flex: 1;
}

.api-container-header-search-btn{
    background-color: rgba(113, 223, 250, 0.322);
    color: white;
    font-family: system-ui;
    font-weight: 600;
    text-align: center;
    padding: 4% 4%;
}

.api-container-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    flex-wrap: wrap;
}

.search{
    filter: invert();
}

.api-container-list-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    list-style-type: none;
    width: calc(100vw/10);
    height: calc(100vw/10);
    background-color: rgba(240, 248, 255, 0.144);
    
}
/*--------- FIN MAIN*/

/*--------- FOOTER*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------- FIN FOOTER*/

/*---------------- FIN BODY*/