.contenedor-ta-te-ti{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: aqua;

  height: 100vh;
  width: 100vw;
  gap: 10px;
}

.contenedor-ta-te-ti-row1, .contenedor-ta-te-ti-row2, .contenedor-ta-te-ti-row3{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 80%;
  height: 80%;

  color: rgba(133, 133, 133, 0.438);
}

.casilla{
  background-color: rgba(133, 133, 133, 0.438);
  width: 30%;
  height: 30%;
}
